/* Document Setup */

html {
	font-size: 100%;
}

table {
	font-size: 100%;
}

body {
	width: 1196px;
	margin: 0 auto;
	padding-top: 80px;
	background-color: #f2f2f2;
}

.nav {
	text-align: center;
}

.nav img {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.nav img:hover {
	background-color: white;
    transition: .2s ease-in-out;
   	-moz-transition: .2s ease-in-out;
   	-webkit-transition: .2s ease-in-out;
}

.pad-left {
	margin-left: 20px;
}

.pad-right {
	margin-right: 20px;
}

hr {
	color: #181818;
	background-color: #181818;
	height: 3px;
	display: inline-block;
	width: 27.2%;
	vertical-align: 15%;
	border: 0; 
}

/* Font Styles */

h1 {
	font-family: "Apercu Pro Medium", 'Trebuchet MS', Arial, sans-serif;
	font-size: 48px;
	text-align: center;
	text-transform:uppercase;
	letter-spacing: 5px;
}

h2 {
	font-family: "Apercu Pro Medium", 'Trebuchet MS', Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 60px;
	font-weight: 500;
	letter-spacing: 0.75px;
}

h3 {
	font-family: "Apercu Pro Medium", 'Trebuchet MS', Arial, sans-serif;
	font-size: 21px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
}

p {
	font-family: "Apercu Pro Medium", 'Trebuchet MS', Arial, sans-serif;
	font-size: 16px;
	z-index: 101;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0.6pt;
}

.mainimage p {
	line-height: 0px;
	padding-top: 10px;
	padding-bottom: 40px;
}

/* Image Grid */

img {
	padding: 0px;
	margin: 0px;
}

#tiles {
   line-height: 0px;
   -webkit-column-count: 4;
   -webkit-column-gap:   32px;
   -moz-column-count:    4;
   -moz-column-gap:      32px;
   column-count:         4;
   column-gap:           32px;
}

.mainimage {
	margin-bottom: 60px;
}

#tiles img {
  	width: 100% !important;
  	height: auto !important;
}

.hoverimage {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	opacity: 0;
}

.hoverimage:hover {
	opacity: 1;
}

#tileone {
	position: relative;
	width: 275px;
	height: 383px;
}

#tiletwo {
	position: relative;
	width: 275px;
	height: 360px;
}

#tilethree {
	position: relative;
	width: 275px;
	height: 447px;
}

#tilefour {
	position: relative;
	width: 275px;
	height: 550px;
}

#tilefive {
	position: relative;
	width: 275px;
	height: 341px;
}

#tilesix {
	position: relative;
	width: 275px;
	height: 215px;
}

#tileseven {
	position: relative;
	width: 275px;
	height: 247px;
}

#tileeight {
	position: relative;
	width: 275px;
	height: 209px;
}

#tilenine {
	position: relative;
	width: 275px;
	height: 215px;
}

#tileten {
	position: relative;
	width: 275px;
	height: 504px;
}

#tileeleven {
	position: relative;
	width: 275px;
	height: 216px;
}

/* Work Pages */

.back {
	text-align: center;
	padding-top: 20px;
}

.back a {
	text-decoration: none;
	color: grey;
}

.work {
	margin: 0 auto;
	text-align: center;
}

.work img {
	padding-bottom: 10px;
}

.work p {
	padding-top: 20px;
	padding-bottom: 30px;
	width: 800px;
	margin: 0 auto;
}

.back {
	text-align: center;
	color: grey;
	padding-top: 10px;
	margin-top: 0px;
	padding-bottom: 20px;
	letter-spacing: 2px;
}

.back a:hover {
	color: black;
    transition: .2s ease-in-out;
   	-moz-transition: .2s ease-in-out;
   	-webkit-transition: .2s ease-in-out;
}

.navigate {
	text-align: center;
	color: grey;
	margin-top: 50px;
	letter-spacing: 2px;
}

.navigate a {
	text-decoration: none;
	color: grey;
	letter-spacing: 2px;
	padding-left: 6px;
	padding-right: 6px;
}

.navigate a:hover {
	color: black;
    transition: .2s ease-in-out;
   	-moz-transition: .2s ease-in-out;
   	-webkit-transition: .2s ease-in-out;
}

.box {
	position: relative;
    bottom: 20px;
    right: 0;
   	margin-bottom: 80px;
}

.arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f2f2f2;
}

.arrow:hover {
    transition: .2s ease-in-out;
   	-moz-transition: .2s ease-in-out;
   	-webkit-transition: .2s ease-in-out;
    background-color: white;
}